/* --- felexable images --- */
img{
	width: auto;
	max-width: 100%;
	height: auto;
	
	}
body{
	width: 90%;
	max-width: 60em;
	margin: 1em auto;
	}
a{
	color: grey;
	text-decoration: none;
	}	
img .authorimage{
	width: 16em;
	height: 16em;
	}
h1{
	display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
	}
